@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as vars;

p {
  @include type.type-style('body-compact-01');
}

.off-scale-high,
.off-scale-low,
.critically-high,
.critically-low,
.high,
.low {
  p {
    @include type.type-style('heading-compact-01');
  }
}

.high,
.low {
  background-color: colors.$orange-10 !important;
  border-top: 1px solid colors.$orange-20 !important;
}

.critically-high,
.critically-low {
  background-color: colors.$red-20 !important;
  border-top: 1px solid colors.$red-20-hover !important;
}

.off-scale-low {
  p::after {
    content: ' ↓↓↓';
  }
}

.off-scale-high {
  p::after {
    content: ' ↑↑↑';
  }
}

.critically-low {
  p::after {
    content: ' ↓↓';
  }
}

.critically-high {
  p::after {
    content: ' ↑↑';
  }
}

.low {
  p::after {
    content: ' ↓';
  }
}

.high {
  p::after {
    content: ' ↑';
  }
}

.trendline-link-view {
  color: colors.$blue-60;
  cursor: pointer;
}

.trendline-link-view:hover {
  text-decoration: underline;
}
